body {
	font-family: 'Modak', cursive;
	font-size: 50px;
	color: #C5BD99;
	background: #424242;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#header {
	width: 50%;
	text-align: center;
}

#gameboard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row img {
	border-radius: 7px;
	width: 150px;
	height: 210px;
}